html {
    font-size: 10px;
    font-family: 'Titillium Web', sans-serif;
    background: url('images/mountain.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    justify-content: start;      
}

h1, h2 {
    font-size: 6em;
    margin: 1em 0em 0em 0.7em;
    text-shadow: 5px 9px 9px rgba(0,0,0,0.75);
    color: rgb(32, 41, 62);
}

h2 {
  font-size: 2em;
  text-align: center;
}

#openButton{
  display: inline-block;
  padding: 0.46em 1.6em;
  margin: 0 0.2em 0.2em 0;
  position: absolute;
  right: 2.5em;
  top: 5.2em;
  font-size: 1.7em;
  border: 0.1em solid rgb(32, 41, 62);
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: rgb(32, 41, 62);
  text-shadow: 0 0.04em 0.04em rgba(0,0,0, 0.35);
  background-color: rgba(179, 177, 233, 0.28);
  text-align: center;
  transition: all 0.15s;
  }


#openButton:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #FFFFFF;
  border-color: #FFFFFF;
  cursor: pointer;
}
.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow: hidden;
  padding-top: 60px;
  transition: 0.5s;
  background-color: rgb(32, 41, 62, 0.6);
  opacity: 0.7;
}

.sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
  opacity: 0.7;
}

.sideNav:hover, .closebtn:hover {
  opacity: 1;
}

.mainDiv {
    display: grid;
    width: 60em;
    height: 60em;
    border: 1px solid black;
    box-shadow: 5px 4px 12px 3px rgba(0,0,0,0.5);
    margin: 5em 0px 0px 10em;
}

.colorButton, .eraseButton{
    margin: 0.5em 0.5em 0em 0.5em;
    display: inline-block;
    padding: 0.4em 1em;
    font-size: 1.7em;
    border: 0.1em solid #000;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0, 0.35);
    background-color: rgba(0,0,0, 0.35);
    text-align: center;
    transition: all 0.15s;
}

.buttonPicker {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5em 0.5em 0.5em 0.5em;
  padding: 0.4em 1em;
  font-size: 1.7em;
  border: 0.1em solid #000;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0, 0.35);
  background-color: rgba(0,0,0, 0.35);
  transition: all 0.15s;
}

.colorButton:hover, .eraseButton:hover, .buttonPicker:hover{
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #FFFFFF;
  border-color: #FFFFFF;
  cursor: pointer;
}

.colorPicker {
  margin: 0 0 0 0.5em;
}

.colorPickerText {
  text-align: center;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin: 0 0 0 0.6em;
    cursor: pointer;
  }

  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  .slider::-moz-slider-thumb {
    -moz-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

